

@{
    ViewBag.Title = "Student Database";
}
<style>
    table thead tr th {
        text-align: center;
    }
</style>
<script src="/static/dBTableProcess.js" type="text/javascript"></script>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<a href="@Url.Action("SchoolAdd")">수강등록</a>


<table id="studentList" style="border: 1px solid black; width: 800px; border-spacing: 20px; text-align: center">
    <thead>
    <tr>
        <th>EnrollmentID</th>
        <th>CourseID</th>
        <th>StudentID</th>
        <th>Grade</th>
        <th>Title</th>
        <th>Credits</th>
        <th>LastName</th>
        <th>FirstMidName</th>
        <th>EnrollmentDate</th>
    </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>
<div>
    <p>
        id검색 : <input type="number" id="searchId" maxlength="10"/>
        <input type="button" id="searchIdOk" value="검색" disabled="disabled"/>
        <input type="button" id="studentListOk" value="전체목록" />
    </p>
</div>