@{
    ViewBag.Title = "수강과목 등록";
}
<script src="/static/CourseList.js" type="text/javascript"></script>
<h2>@ViewBag.Title</h2>
<table id="SchoolAdd" style="border: 1px solid black; width: 500px;  text-align: center"> 
    <tr>
        <td>LastName</td>
        <td><input id="lastName" /></td>
    </tr>
    <tr>
        <td>FirstMidName</td>
        <td><input id="firstMidName" /></td>
    </tr>
</table>
<p><input type="button" value="저장" id="insertDB" /></p>
<br/>