@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<form id="TestParameter">
    <table id="Info" style="text-align: center; border: 1px solid black">
        <tr>
            <td colspan="2">개인정보 입력</td>
        </tr>
        <tr>
            <td>아이디</td>
            <td><input id="id" type="number" maxlength="10"/></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input id="name" /></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input id="email" /></td>
        </tr>
        <tr>
            <td>주소</td>
            <td><input id="address" /></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input id="phone" /></td>
        </tr>
        <p>
            <input type="button" id="btnOk" value="Click" />
        </p>
    </table>
</form>
    <br /><br />
    <table id="returnValue" style="text-align: center; border: 1px solid black">
        <tr>
            <td colspan="2">개인정보 결과 값</td>
        </tr>
        <tr>
            <td>아이디</td>
            <td><input id="return_id" type="number"  disabled="true" /></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input id="return_name" disabled="true" /></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input id="return_email" disabled="true" /></td>
        </tr>
        <tr>
            <td>주소</td>
            <td><input id="return_address" disabled="true" /></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input id="return_phone" disabled="true" /></td>
        </tr>
        <tr>
            <td>오늘 날짜</td>
            <td><input id="return_date" disabled="true" /></td>
        </tr>
    </table>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>