@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<form name="TestParameter">
    <input type="button" id="btnOk" value="Click"/>
    <table id="valueTable" style="border: 1px solid black">
        <thead>
        <tr>
            <td>구분</td>
            <td>값 입력</td>
            <td>결과 값</td>
        </tr>
        </thead>
        <tr>
            <td>아이디</td>
            <td><input type="number" name="id" maxlength="10"/></td>
            <td><input name="return_id" disabled="true"/></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input name="name"/></td>
            <td><input name="return_name" disabled="true"/></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input name="email"/></td>
            <td><input name="return_email" disabled="true"/></td>
        </tr>
        <tr>
            <tr>
                <td></td>
            </tr>
        </tr>
        <tr>
            <td>아이디</td>
            <td><input type="number" name="id" maxlength="10"/></td>
            <td><input name="return_id" disabled="true"/></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input name="name"/></td>
            <td><input name="return_name" disabled="true"/></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input name="email"/></td>
            <td><input name="return_email" disabled="true"/></td>
        </tr>
        <tr>
            <td></td>
        </tr>


        <tr>
            <td>아이디</td>
            <td><input type="number" name="id" maxlength="10"/></td>
            <td><input name="return_id" disabled="true"/></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input name="name"/></td>
            <td><input name="return_name" disabled="true"/></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input name="email"/></td>
            <td><input name="return_email" disabled="true"/></td>
        </tr>
    </table>
</form>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>