@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<form name="TestParameter">
    <p>
        입력할 데이터 :
        <input id="fieldCreate" type="number" />
        <input type="button" id="DataInput" value="필드만들기" disabled="true"/>
    </p>
    
    <table id="valueTable" style="border: 1px solid black; width: 500px">
        <thead>
        <tr>
            <td>구분</td>
            <td>값 입력</td>
            <td>결과 값</td>
        </tr>
        </thead>
        
    </table>
    <input type="button" id="btnOk" value="값 입력" />
</form>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>