@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<form id="TestParameter" name="TestParameter">

    <p>id생성 : <input id="createId" type="number" max="15" placeholder="최대값은 15입니다."/><input type="button" id="btnOk" value="생성"/></p>
    <table id="valueTable" style="border: 1px solid black; width: 500px; text-align: center">
        <thead>
        <tr>
            <td>구분</td>
            <td>해당 정보</td>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</form>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>